requests
pandas
numpy
jupyter
playwright
python-dotenv

# Phase 4 (Layer 1 advanced features)
python-whois
rapidfuzz

# Phase 3 (EDA)
matplotlib
seaborn
scipy

# Phase 4
scikit-learn
joblib
xgboost

# Phase 5 (Layer 2)
beautifulsoup4
